{% extends "base.html" %}

{% block content %}

  {% if error %}
    <p class="edit-error">{{error}}</p>
  {% endif %}
  {{p.render() | safe}}


<div class="interactive">
  <span class="display-likes">
    {% if p.likes == 1%}
      {{ p.likes }} person likes this post
    {% else %}
      {{ p.likes }} people like this post
    {% endif %}
  </span>

  {% if user %}
    {% if user.name != p.author %}
      {% if user.name not in p.likers %}
        <span class="like-post">
          <form action="/blog/like/{{p.key().id()}}" method="post">
            <input type="submit" value="like">
          </form>
        </span>
      {% elif user.name in p.likers %}
        <span class="unlike-post">
          <form action="/blog/unlike/{{p.key().id()}}" method="post">
            <input type="submit" value="unlike">
          </form>
        </span>
      {% endif %}
    {% elif user.name == p.author %}
      <span class="edit">
        <a class="edit-link" href="/blog/edit/{{p.key().id()}}">edit</a>
      </span>
      <span class="delete">
        <a class="delete-link" href="/blog/delete/{{p.key().id()}}">delete</a>
      </span>
    {% endif %}
    <span class="new-comment">
      <form action="/blog/newcomment/{{p.key().id()}}" method="get">
        <input type="submit" value="leave a comment">
      </form>
    </span>
  {% endif %}
</div>


  <br>
  {% if comments %}
    <h2>Comments</h2>
    <div class="comment-section">
      {% for c in comments %}
        <div class="comment">
          <div class="comment_content">
            {{ c.comment | safe }}
          </div>
          <hr>
          <div class="comment-interactive">
            <span class="comment_author">
              by {{ c.commentAuthor }}
            </span>
          </div>
        </div>
        <!-- need to add ability to edit and delete comments -->
        {% if user.name == c.commentAuthor %}
          <div class="comment-interactive">
            <span class="edit-comment">
              <a class="edit-comment-link" href="/blog/editcomment/{{c.key().id()}}">edit</a>
            </span>
            <span class="delete-comment">
              <a class="delete-comment-link" href="/blog/deletecomment/{{c.key().id()}}">delete</a>
            </span>
          </div>

        {% endif %}
        <br><br>
      {% endfor %}
    </div>
  {% endif %}





{% endblock %}
